body {
  font-family: serif;
  background-color: #062101;
  color: #FFFFFF;
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.4;
  padding: 32px 24px;
}

.header {
  z-index: 99;
  position: relative;
  max-width: 700px;
  margin: 40px auto;
}

.header h1 {
  margin-bottom: 16px;
  font-size: 48px;
  text-align: center;
}

.header .subtitle {
  color: rgba(225, 225, 225, 0.8);
  font-size: 19px;
}
.container{
  max-width: 1024px;
  z-index: 99;
  margin: 0 auto;
  position: relative;
}

.card{
  border: 2px solid #0B421Da2;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 32px;
}

.card-header{
  margin-bottom: 32px;
  font-size: 21px;
  text-align: center;
}

.form-group textarea{
  background-color: rgba(225, 225, 225, 0.05);
  color:#fff;
  width: 100%;
  min-height: 120px;
  border: 2px solid #0B421Da2;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  
}

.form-group textarea:focus{
  outline: none;
  border-color: #2F3EE1;
  
}

.form-group textarea::placeholder{
  color: #DBFFE2;
}

.form-group .btn-magic{
  width: 100%;
  padding: 16px 32px;
  background: linear-gradient(90deg, #2FD04E 0%, #FFB626 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-group .btn-magic:hover{
  transform: translateY(-2px);
}

.preview-card {
  display: none;
}

.code-grid{
  display: flex;
  gap: 24px;
}

.code-card{
  background-color: #243500;
  border: 2px solid rgba(225, 225, 225, 0.2);
  border-radius: 16px;
  padding: 24px ;
  width: 50%;
}

.code-title{
  font-size: 20px;
  margin-bottom: 16px;
}

.code-block {
  Background-color: #1E3028;
  color: #66E9DA;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
